.navbar {
  background: #16c79a; /* Color de la barra */
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.1rem;
  transition: color 0.3s ease-in-out;
}

.navbar-links a:hover {
  color: #0f9b75; /* Un verde más oscuro al pasar el mouse */
}
