/* Contenedor Principal */
.pld-container {
  padding: 10px;
  margin-left: 5%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 150px;
}

/* Botón de carga de archivos con icono */
.file-upload-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
}

.file-upload-btn {
  background: #16c79a;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.upload-icon {
  margin-right: 5px;
}

.file-input {
  display: none;
}

/* Contenedor de tabla con espacio adicional */
.table-container {
  flex-grow: 1;
  overflow-x: hidden;
  margin-bottom: 100px;
}

/* Tabla */
.pld-table {
  width: 98%;
  max-width: 100%;
  border-collapse: collapse;
  background: #ffffff;
  font-size: 0.7rem; /* Reducción del tamaño de letra */
  table-layout: fixed; /* Ajuste automático de las columnas */
}

.pld-table th,
.pld-table td {
  padding: 5px;
  border: 1px solid #ddd;
  text-align: center;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pld-table th {
  background: #16c79a;
  color: white;
  font-size: 0.8rem;
}

.pld-table tr:hover {
  background: #f1f1f1;
}

/* Colores semáforo para el grado de riesgo */
.riesgo-bajo-riesgo {
  background-color: #4caf50;
  color: white;
}

.riesgo-moderado {
  background-color: #ffeb3b;
  color: black;
}

.riesgo-alto-riesgo {
  background-color: #f44336;
  color: white;
}

/* Botón de ver detalle */
.detalle-btn {
  background: #f78fb3;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 0.7rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.detalle-btn:hover {
  background: #ff6b9e;
}
